### C ##########
*.exe

### VHDL ########
*.bak
*work  # work folder

### Latex #########
*.gz
*.aux
*.idx
*.log
*.nlo
*.out
*.toc
*.ilg
*.ind
*.bbl
*.blg
*.ind





########### Manual changes based on Project ############

# latex pdf file
FPGA-designs-with-VHDL.pdf

# codes.zip
Codes-VHDL.zip


